<container class="footer">
  <row class="footer-row-one">
    <columns>
      <spacer size="50"></spacer>
      <h4>#1 WordPress Hosting Provider</h4>
      <center>
        <img src="https://imgur.com/4uwyNeC.png" alt="" />
      </center>
      <spacer size="30"></spacer>
    </columns>
  </row>
  <row class="footer-row-two">
    <columns>
      <spacer size="40"></spacer>
      <center>
        <img src="https://imgur.com/V8HbWzv.png" alt="" />
      </center>
    </columns>
  </row>
</container>
