<container>
  <row class="header">
    <columns>
      <spacer size="16"></spacer>
      <row class="header-row-one">
        <columns small="4" large="2" class="logo-col">
          <img src="https://imgur.com/3F7YI82.png" alt="" />
        </columns>
        <columns small="1" large="1">
          <span class="menu-divider"></span>
        </columns>
        <columns small="7" large="9"
          ><p>Wordpress tutorials, tips, and more</p></columns
        >
      </row>

      <row class="header-row-two">
        <columns>
          <h1>Introducing the New Kinsta Affiliate Dashboard</h1>
          <center>
            <a href="#">
              <img src="https://imgur.com/qepH0BC.png" alt="" />
            </a>
          </center>
          <spacer size="10"></spacer>
          <p>
            Check out the new Kinsta affiliate dashboard, now powered with a
            stronger, faster, and more robust backend
          </p>
          <spacer size="10"></spacer>
          <a class="read-more-btn" href="#">READ MORE</a>
          <spacer size="40"></spacer>
        </columns>
      </row>
    </columns>
  </row>
</container>
